
/* Charts & Tables */
.charts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.chart-container {
    background: rgba(119, 37, 37, 0.05);
    border: 2px solid var(--primary-accent);
    border-radius: var(--border-radius);
    padding: 1rem;
    box-shadow: var(--shadow);
    height: fit-content;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    width: 50px;
    height: 25px;
    text-align: center;
    border-collapse: collapse;
}

/* Account Dropdown */


/* Responsive Adjustments */
@media (max-width: 768px) {
    .container { padding: 1rem; }
    #logo { height: 60px; width: 60px; }
    .charts-container {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}